<html ng-app = "Name">
<head>
    <meta charset="UTF-8">
    <title>QuestionsAndAnswers</title>
    
    <!--Bootstrap-->   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <!--Our Style-->
    <link rel="stylesheet" href="assets/styles/style.css">
    
</head>


<body>  
    <div class="container" ng-controller="MainController">
        <div class="row">
            <section class="view-selector">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" data-toggle="buttons"  > 
                            <label class="btn btn-primary active" ng-click="setView('myQuestion')">
                                <input type="radio" name="roster1"  > My Question
                            </label>
                            <label class="btn btn-primary" ng-click="setView('myResponses')">
                                <input type="radio" name = "roster1" > My Responses
                            </label>                         
                        </div>
                    </div>
                </div>
            </section>
            <section class="question-container" ng-show="my_question">
                <div class="col-sm-12" ng-controller="myQuestionController">
                    <div class="question-header">
                        <h2>My Question</h2>
                        <h2 ng-bind="dummy"></h2>
                    </div>
                    <div class="question-list">
                          <ul>
                              <li ng-repeat = "issue in myIssues track by $index" >{{issue}}</li>
                          </ul>
                          <input type="text" name="input" ng-model="newIssues" placeholder = "Enter new issue">
                          <button ng-click="addIssue()">Add Issue </button>  
                    </div>
                </div>
            </section>
            <section class="responses-container" ng-show="!my_question">
                <div class="col-sm-12" ng-controller="myResponsesController">
                    <div class="response-header">
                        <h2>My Responses</h2>
                        <h2 ng-bind="dummy"></h2>
                    </div>
                    <div class="responses-list">

                    </div>
                </div>
            </section>
            
        </div>
    </div>
    
    {{mc.test}}
    
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    
    <!--JQuery-->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!--Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <!--Our Scripts-->
    <script src="app/app.js"></script>
    <script src="app/components/MainController.js"></script>
    <script src="app/components/myQuestionController.js"></script>    
    <script src="app/components/myResponsesController.js"></script>    
</body>
</html>